/ここはフッターです

#final
  #copyrightpos
    #contact
      %span#contactline
        %strong Contact
      %br
        %span{:style => "font-size:20px;"}
          Tsukishima Chuo-ku
          %br
            Tokyo, Japan
    %hr#footerhr
      %p#copyright
        Copyright © 2015 RYOH HASEGAWA All rights reserved.