= render partial: "header"

.post-header
  .header-left.float-left
    .tag-content.float-left
      %a.tag{:href => ""}
        %img.tag-img.inline-block.middle{:src => "assets/tagicon.png", :width => "40"}
          .inline-block.middle
            武豊
      %a.tag{:href => ""}
        %img.tag-img.inline-block.middle{:src => "assets/tagicon.png", :width => "40"}
          .inline-block.middle
            金鯱賞
      %a.tag{:href => ""}
        %img.tag-img.inline-block.middle{:src => "assets/tagicon.png", :width => "40"}
          .inline-block.middle
            予後不良
      %a.tag{:href => ""}
        %img.tag-img.inline-block.middle{:src => "assets/tagicon.png", :width => "40"}
          .inline-block.middle
            大逃げ
      .date
        公開日：3月15日
    .fav-title
      .fav-content.float-left
        .favcon-upper.table
          .table-cell
            %i.fa.fa-star.inline-block.middle
            .fav-number.inline-block.middle
              37
            .text
              お気に入り
          .table-cell
            .fav-number
              35537
            .text
              view
        .favcon-bottom
          %a.btn.inline-block{:href => ""}
            %i.fa.fa-star.inline-block.middle
            .inline-block.middle
              お気に入りに追加
      .title-content.float-left
        %strong
          影さえ踏ませず、
          %br
            散ったサイレンススズカ
      .clear
  .header-right.float-left
    .media
      .media-left.media-middle
        %a{:href => "index6.html"}
          %img#ryoh2.ryohimg{:src => "assets/morikazu.png", :width => "80"}/
      .media-body.media-middle
        %h1#ryoh3
          %a{:href => "index6.html"} 田中一郎
        %img.inline-block.middle{:src => "assets/book1.jpg", :width => "30"}
          .num.inline-block.middle
            9
  .clear
.socialshare
  / Twitter
  %a.btn.btn-twitter{:href => "http://twitter.com/home?status=", :target => "_blank", :title => "Share on Twitter"}
    %i.fa.fa-twitter
    Twitter
  / Facebook
  %a.btn.btn-facebook{:href => "https://www.facebook.com/sharer/sharer.php?u=", :target => "_blank", :title => "Share on Facebook"}
    %i.fa.fa-facebook
    Facebook
  / Google+
  %a.btn.btn-googleplus{:href => "https://plus.google.com/share?url=", :target => "_blank", :title => "Share on Google+"}
    %i.fa.fa-google-plus
    Google+
  / LinkedIn
  %a.btn.btn-linkedin{:href => "http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=", :target => "_blank", :title => "Share on LinkedIn"}
    %i.fa.fa-linkedin
    LinkedIn
.maintext
  まだ大学生だった頃、ハマったばかりの競馬で、すぐに虜となった愛馬がサイレンススズカだった。どんなレース、どんな展開でも大逃げを打っては、他馬を置き去りにするそのレーススタイルに心を奪われた。6連勝で臨んだ天皇賞（秋）においての故障は、東京競馬場で目の当たりにし、心を痛めた。特に思い出深いレースをいくつか辿りながら、彼への思いを回顧したい。
.row.memorycontent
  .col-lg-6
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/tEWYysSkkCk", :width => "420"}
  .col-lg-6
    .dougacomment
      .titlesuzuka
        俺的スズカ史上最高レース
      .titlesuzuka2
        まだ大学生だった頃、ハマったばかりの競馬で、すぐに虜となった愛馬がサイレンススズカだった。どんなレース、どんな展開でも大逃げを打っては、他馬を置き去りにするそのレーススタイルに心を奪われた。6連勝で臨んだ天皇賞（秋）においての故障は、東京競馬場で目の当たりにし、心を痛めた。
.row.memorycontent
  .col-lg-6
    .dougacomment2
      .titlesuzuka3
        ユタカも実は...
      .titlesuzuka2
        まだ大学生だった頃、ハマったばかりの競馬で、すぐに虜となった愛馬がサイレンススズカだった。どんなレース、どんな展開でも大逃げを打っては、他馬を置き去りにするそのレーススタイルに心を奪われた。6連勝で臨んだ天皇賞（秋）においての故障は、東京競馬場で目の当たりにし、心を痛めた。
  .col-lg-6
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/h7KAmSR4_fI", :width => "420"}
.row.memorycontent
  .col-lg-6
    %img{:height => "315", :src => "assets/ceme.jpg", :width => "420"}
  .col-lg-6
    .dougacomment3
      .titlesuzuka5
        俺的スズカ史上最高レース
      .titlesuzuka4
        まだ大学生だった頃、ハマったばかりの競馬で、すぐに虜となった愛馬がサイレンススズカだった。どんなレース、どんな展開でも大逃げを打っては、他馬を置き去りにするそのレーススタイルに心を奪われた。6連勝で臨んだ天皇賞（秋）においての故障は、東京競馬場で目の当たりにし、心を痛めた。
.sss
  / Twitter
  %a.btn.btn-twitter{:href => "http://twitter.com/home?status=", :target => "_blank", :title => "Share on Twitter"}
    %i.fa.fa-twitter
    Twitter
  / Facebook
  %a.btn.btn-facebook{:href => "https://www.facebook.com/sharer/sharer.php?u=", :target => "_blank", :title => "Share on Facebook"}
    %i.fa.fa-facebook
    Facebook
  / Google+
  %a.btn.btn-googleplus{:href => "https://plus.google.com/share?url=", :target => "_blank", :title => "Share on Google+"}
    %i.fa.fa-google-plus
    Google+
  / LinkedIn
  %a.btn.btn-linkedin{:href => "http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=", :target => "_blank", :title => "Share on LinkedIn"}
    %i.fa.fa-linkedin
    LinkedIn
.comments
  %hr#hrline
    %i.fa.fa-comments{:width => "100px"}
    .inline-block.middle{:style => "color:rgb(56,171,148); margin-bottom:10px; margin-left:5px; font-size:20px"}
      コメント
    .inline-block.middle{:style => "margin-bottom:10px"}
      2件
.commentrow
  .col-md-4
    %img#yahman.float-right{:src => "assets/yahman.jpg"}
  .col-md-8
    .commentuser
      yahman
    .commentext
      まだ大学生だった頃、ハマったばかりの競馬で、すぐに虜となった愛馬がサイレンススズカだった。どんなレース、どんな展開でも大逃げを打って
.comments
  %hr#commentline
.commentrow
  .col-md-4
    %img#yahman.float-right{:src => "assets/ukun.jpg"}
  .col-md-8
    .commentuser
      うっくん
    .commentext
      まだ大学生だった頃、ハマったばかりの競馬で、すぐに虜となった愛馬がサイレンススズカだった。どんなレース、どんな展開でも大逃げを打って
.comments
  %hr#commentline
.commentrow
  .col-md-4
    %img#yahman.float-right{:src => "assets/tokida.jpg"}
  .col-md-8
    .usercomment
      %div{:style => "color:rgb(121, 116, 116);"}
        コメントを入力
<div class="clear" width"0">
.commentrow1
  .col-md-4.usertokida
    時田 泰
  .col-md-8
    .commentext
      %span.input-group-btn
        %button.btn.btn-success{:type => "button"} 物語を探す
.otherstory
  %a{:href => ""}
    %img.tag-img.inline-block.middle{:src => "assets/tagicon.png", :width => "40"}
      .inline-block.middle
        武豊
      .inline-block.middle.otherstory2
        を含む他のストーリーを読む
.otherstory3
  .col-md-4
    .img-back.mayano
      .white-back
  .col-md-4
    .img-back.durandal
      .white-back
  .col-md-4
    .img-back.dscarlett
      .white-back
.clear
.findother
  .float-right.motto
    （もっと探す）

= render partial: "footer"