.purplehead
.signuppage1
  .signuppage2
    .toprogo.inline-block.middle
      %img.inline-block.sublogo{:src => "assets/sublogo.jpg"}
    .useradd2
      .fabspace
      .fblog5
        .fblog8
          Facebookアカウントでログイン
      .orline
        %hr.orlines1.inline-block
          .inline-block.oror{:style => "color:rgb(159,159,162);"}
            or
          %hr.orlines2.inline-block
      .mailboxes
        %img.mailgray.inline-block{:src => "assets/mailgray.png"}
          .mailgray2.inline-block
            メールアドレス
      .passboxes
        %img.passgray.inline-block{:src => "assets/passboxes.png"}
          .passgray2.inline-block
            パスワード
      .fabspace
      .fblog4
        .fblog2
          ログインする
    .alreadyuse
      %div
        初めての方は
        %a{:href => "index4.html"}> ユーザー登録
        してください
      %div
        パスワードを忘れた方は
        %a{:href => ""} こちら

= render partial: "footer"